// config
// @import 'variables';

//layout
@import 'reboot';

@each $colorKey, $color in $theme-colors {
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

@each $colorKey, $color in $text-colors {
  .text-#{$colorKey} {
    color: $color;
  }
}

@each $var in (left, center, right, justify) {
  .text-#{$var} {
    text-align: $var;
  }
}

.text-middle{
  vertical-align: middle;
}

@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size;
  }
}

@each $weightKey, $weight in $font-weights {
  .fw-#{$weightKey} {
    font-weight: $weight;
  }
}

// html {
//   min-width: 1366PX;
// }

.d-flex {
  display: flex;
  > * {
    flex-shrink: 0;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
  width: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

